body{
    background-color: crimson;
    text-align: center;
}
.container{
    align-items: center;
    justify-content: center;
    height: 30vmin;
    width: 40vmin;
    gap: 10vmin;
    flex-wrap: wrap;

}
.box{
    height: 10vmin;
    width: 10vmin;
    justify-content: center;
    align-items: center;
    border-radius: 0.9vmin;
    border: none;
    font-size: 2rem;
    
}
.box:hover{
    background-color: chartreuse;
}
.game{
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#rst{
    height: 6vh;
    width: 15vh;
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    display: flex;
    border: none;
    margin-top: 12px;
    margin-left: 75px;
}
#rst:hover{
    background-color: black;
    color: white;
}
