body{
    background-color: #A2C7C4;
    text-align: center;
}
.box{
    height: 10vmin;
    width: 10vmin;
    align-items: center;
    justify-items:center;
    border-radius: 10px;
    border: none;
    box-shadow:rgba(0,0,0,1);
    font-size: 4vmin;
    transition: 0.3s;
    background-color: whitesmoke;
    color: black;
}
.game{
    height: 30vmin;
    width: 40vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
}
.box:hover{
    background: orange;
}
.container{
    height: 38vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
#Res{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 15vh;
    margin-top: 20px;
    border-radius: 0.4rem;
    border: none;
    transition: 0.3s;
}
#Res:hover{
    background-color: black;
    color: whitesmoke;
}
.msg{
    font-family: sans-serif;
    text-transform: uppercase;
    color: grey;
    font-size: 5vmin;
}
.msgcont{
    height: 15vmin;
}
.hide{
    display: none;
}
/* HTML: <div class="loader"></div> */
.loader {
    display: inline-flex;
    gap: 10px;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
      #fff;
    aspect-ratio: 1;
    animation: l10 1.5s infinite alternate;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l10 {
    0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
    60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
  }